}

.card {
    transform: matrix(5);
    background: white;
    border-radius: 14px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    color: #555;
}

.price {
    margin: 12px 0;
    font-size: 20px;
    color: green;
}

.btn {
    background: #007bff;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: #0056b3;
}
.card:hover {
    background-color: bisque;
}* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #e5e2e2;
}

.heading {
    text-align: center;
    font-size: 32px;
    margin: 20px 0;
    font-weight: bold;
}

/* GRID LAYOUT */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1300px;
    border: 3px solid;
    margin: auto;